.bg-black {
    background-color: $black !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-clear-gray {
    background-color: $clear-gray !important;
}

.bg-violet {
    background-color: $violet !important;
}

.bg-dark-violet {
    background-color: $dark-violet !important;
}

.bg-dark-blue {
    background-color: $dark-blue !important;
}