#App {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}

#img-chat {
    height: 45px;
    width: 45px;
}

#chat-bubble{
    border-radius: 40px;
}

.pin {
    background: radial-gradient(#FCFCFC 50%, #A5A5A6 85%);
}

.pin-lg {
    height: 250px;
    width: 250px;
}

.contact {
    width: 500px;
}

.purpose-button{
    height: 80px;
}