.input-text {
    border: none;
    background-color: transparent;
    height: 30px;
}

.input{
    outline: 0;
}

.pin {
    background: radial-gradient(#FCFCFC 50%, #A5A5A6 85%);
}

.pin-lg {
    height: 250px;
    width: 250px;
}